@import url("../css/variable.css");

@import url("./media-query.css");

.contact-img-banner {
  width: 100%;
  background-repeat: no-repeat;
}

.submission-form {
  display: flex;
  gap: 6rem;
}
.form-title,
.reception-title {
  color: var(--color-text-dark);
  font-style: normal;
  font-weight: 700;
  padding-bottom: 0.4rem;
  margin: 0;
  font-size: var(--text-size-large);
}
.button-send-message {
  padding: 1rem 0;
}
.submission-left {
  display: flex;
  flex-direction: column;
}

.reception-days,
.reception-hours {
  line-height: 3;
  margin: 0;
}
.reception-details {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
