@import url("../css/variable.css");

@import url("./media-query.css");
.contribution-banner {
  object-fit: cover;
  height: auto;
  background-size: cover;
  width: 100%;
  padding-bottom: 2rem;
}
.contribution-body {
  display: flex;
}
.contribution-body-top {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  line-height: 2rem;
}
.contribution-title {
  margin: 0;
  padding-top: 2rem;
  text-align: center;
}
.contribution-body-bottom {
  display: flex;
  text-align: justify;
  line-height: 2rem;
}
