@import url("../css/variable.css");
/* Feel free to add as many of these imports as you need */

.text-size-small {
  font-size: var(--text-size-small);
}
.text-size-medium {
  font-size: var(--text-size-medium);
}
.text-size-large {
  font-size: var(--text-size-large);
}
.text-size-xlarge {
  font-size: var(--text-size-xlarge);
}

.text-size-xxlarge {
  font-size: var(--text-size-xxlarge);
}

.header-bar {
  background-color: var(--color-geyser);
  padding: 1rem;
}

.home-banner {
  width: 100%;
}

.menu-bar {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.menu-bar > li {
  width: 50%;
  text-align: center;
}
.menu-bar-item {
  color: var(--color-text-primary);

  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.menu-bar-item--selected {
  font-weight: bold;
  background-color: var(--color-barossa);
  color: var(--color-text-light);
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
}

.header-bar {
  display: flex;
  padding: 1rem 3rem;
}

.footer-title {
  font-size: var(--text-size-xlarge);
  color: var(--color-text-dark);
}
.footer-text {
  font-size: var(--text-size-large);
  color: var(--color-text-gray);
}
.home-visit-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-barossa);
  padding: 5rem;
  border-radius: 4.5rem;
  max-width: 50%;
  text-align: left;
  margin: 2rem 15rem;
  gap: 1rem;
}

.location-info-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.home-visit-title,
.location-info,
.admission-text,
.admission-info,
.location-text {
  color: var(--color-text-light);
  margin: 0;
}

.admission-info-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.admission-left,
.admission-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-visit-title {
  text-align: center;
}

.museum-introduce {
  display: flex;
  gap: 2rem;
  line-height: 2rem;
}

.explore-images {
  display: flex;
  margin: 2rem;
  gap: 14rem;
}
.explore-info,
.museum-introduce {
  margin: 2rem;
}

.explore-details {
  display: flex;
  gap: 3rem;
  margin: 2rem;
}

.footer-bar {
  display: flex;
  width: 100%;
  background-color: var(--color-text-footer);
  padding: 2rem;
}
.footer-logo {
  height: 172px;
}

.footer-link-museum {
  display: flex;
  gap: 3rem;
}
.footer-museum-info {
  font-style: normal;
  font-weight: 400;
  justify-content: left;
  max-width: 31rem;
  line-height: 2rem;
}

.footer-icon {
  display: flex;

  gap: 50px;
}

.footer-right-subscribe {
  display: flex;
  gap: 10px;
}
.footer-reception-details{
    display: flex;
    gap: 1rem;
}

.footer-info-details a {
  color: var(--color-text-gray);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.footer-info-details a:hover {
  color: var(--color-geyser);
}
.footer-location,
.footer-email,
.footer-phone,
.footer-fax {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  padding: 0.2rem;
}

.footer-location-text,
.footer-email-text,
.footer-phone-text,
.footer-fax-text {
  margin: 0;
}

.footer-subscribe {
  border-radius: 5px;
  border: 1px solid #e1dbdb;
  background-color: var(--color-text-light);
  color: var(--color-text-gray);
}
