@import url("../css/variable.css");
/* Feel free to add as many of these imports as you need */

@import url("./media-query.css");

.ex-space-cosmology,
.ex-space-robotics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding-top: 1rem;
}

.ex-space-evolution,
.ex-space-biology-medicine,
.ex-space-ecology {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  text-align: justify;
}

.exs-back {
  padding: 2rem;
}

.exs-back a {
  display: inline-block;
}

.ex-img-left {
  justify-self: end;
}
