@import url("../css/variable.css");
/* Feel free to add as many of these imports as you need */

@import url("./media-query.css");

.ex-current-body {
  display: flex;
  
  align-items: center;
  text-align: justify;
}


.ex-text {
  font-weight: 400;
}
  .ex-back{
    padding: 1rem 0;
  }
.ex-text-detail {
  text-align: justify;
}
