@import url("../css/variable.css");
/* Feel free to add as many of these imports as you need */

@import url("./media-query.css");

.ex-space-cosmology,
.ex-space-robotics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding-top: 1rem;
}

.ex-space-evolution,
.ex-space-biology-medicine,
.ex-space-ecology {
  display: flex;
  align-items: center;
  text-align: justify;
}
.ex-back {
  padding-bottom: 1rem;
}
