@import url("../css/variable.css");
/* Feel free to add as many of these imports as you need */

@import url("./media-query.css");

.ex-current-body {
  display: flex;
  padding: 4rem;
  gap: 10rem;
  align-items: center;
  text-align: justify;
}

.ex-current-info {
  width: 40%;
  justify-content: center;
}
.ex-text {
  font-weight: 400;
}
.ex-back {
  padding-top: 2rem;
}
.ex-text-detail {
  text-align: justify;
}
