@import url("../css/variable.css");

@import url("./media-query.css");

.exhibition-img-banner {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.exhibition-menu {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  padding: 0.5rem 0;
}
.exhibition-container {
  display: flex;
  flex-direction: column;
}
.exhibition-text {
  display: flex;
  justify-content: center;
  background-color: var(--color-btn-blaze-orange);
  font-weight: 700;
  margin: 0;
  padding: 1rem;
}
.exhibition-future-img,
.exhibition-night-img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.exhibition-menu-bar {
  color: var(--color-text-dark);
  font-size: var(--text-size-large);
  font-style: normal;
  font-weight: 400;
}

.exhibition-current-body {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  gap: 1rem;
}
.exhibition-current-info,
.exhibition-future-info,
.exhibition-night-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-text-light);
  gap: 1rem;
}
.exhibition-body-text,
.exhibition-body-date {
  margin: 0;
}
.exhibition-body-container {
  padding: 2rem;
}

.exhibition-body-detail {
  display: grid;
  gap: 1rem;
  background-color: var(--color-thunder);
  padding: 3rem;
  border-radius: 1rem;
  justify-content: space-evenly;
}

.exhibition-body-info {
  display: flex;
  flex-direction: column;
}
.exhibition-night-body {
  display: flex;

  gap: 2rem;
}
