@import url("../css/variable.css");

@import url("./media-query.css");

.ex-future-body {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.ex-future-top,
.ex-future-bottom {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.ex-night-info {
  text-align: justify;
  width: 80%;
}
.ex-back {
  padding: 1rem 0;
}
.ex-future-img,
.ex-future-bottom-img {
  object-fit: contain;
  width: 100%;
}
