@import url("../css/variable.css");

@import url("./media-query.css");

.ex-future-body {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.ex-night-info {
  text-align: justify;
  width: 80%;
}
  .ex-back{
    padding: 1rem 0;
  }
