@import url("../css/variable.css");

@import url("./media-query.css");

.exhibition-img-banner {
  width: 100%;
}
.exhibition-menu {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  padding: 0.5rem 0;
}
.exhibition-text {
  display: flex;
  justify-content: center;
  background-color: var(--color-btn-blaze-orange);
  font-weight: 700;
}

.exhibition-menu-bar {
  color: var(--color-text-dark);
  font-size: var(--text-size-large);
  font-style: normal;
  font-weight: 400;
}

.exhibition-current-body {
  display: flex;
  background-color: var(--color-thunder);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 90%;
  text-align: center;
  margin: 1rem auto;
}
.exhibition-current-info,
.exhibition-future-info,
.exhibition-night-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-text-light);
  gap: 1rem;
  padding: 2rem;
}
.exhibition-body-text {
  text-decoration: underline;
}

.exhibition-future-body {
  display: flex;
  
  background-color: var(--color-thunder);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 90%;
  margin: 1rem auto;
}

.exhibition-future-info {
  display: flex;
  flex-direction: column;
}
