/* For Desktop View */
@media screen and (min-width: 1024px) {
  .footer-link-museum {
    gap: 5rem;
  }
  .footer-bar {
    justify-content: space-between;
  }
  .footer-right {
    margin-top: 3rem;
  }
  .menu-bar-item {
    font-size: 1rem;
  }
  .explore-item {
    width: 30%;
  }
  .museum-introduce {
    line-height: 2rem;
  }
  .contribution-banner {
    height: 25rem;
  }
  .contribution-body {
    justify-content: center;
  }
  .contribution-body-top {
    width: 40%;
  }
  .contribution-body-bottom {
    flex-direction: row;
    padding: 0 10rem;
    gap: 6rem;
  }
  .donate-container-right {
    width: 30%;
  }
  .donate-container-left {
    width: 40%;
    padding-left: 3rem;
  }

  .donate-container {
    display: flex;
    gap: 5rem;
  }
  .donate-purchase {
    padding-left: 3rem;
  }
  .submission-form {
    padding: 1rem 5rem;
  }

  .donation-success {
    height: 50rem;
  }
  .mess-donation {
    width: 20rem;
    line-height: 10rem;
    padding: 2rem;
  }
  .subscribe-success {
    height: 35rem;
  }
  .subscribe-body {
    width: 19rem;
    padding: 3rem;
  }
  .mess-subscribe {
    line-height: 5rem;
  }
  .exhibition-img-banner {
    height: 35rem;
  }
  .exhibition-menu {
    gap: 4rem;
  }
  .exhibition-current-body {
    gap: 10rem;
  }
  .exhibition-current-img {
    padding: 0 5rem;
  }
  .exhibition-current-info,
  .exhibition-future-info,
  .exhibition-night-info {
    font-size: var(--text-size-large);
  }
  .exhibition-future-body {
    flex-direction: row;
  }
  .exhibition-future-img,
  .exhibition-night-img {
    height: 35rem;
    padding: 2rem;
  }
  .exhibition-future-body {
    gap: 15rem;
  }
  .ex-current-body {
    padding: 4rem;
    gap: 10rem;
  }
  .ex-current-info {
    width: 40%;
    justify-content: center;
  }
  .ex-future-body {
    padding: 5rem;
    gap: 5rem;
  }
  .ex-future-bottom-img {
    padding-left: 5rem;
  }
  .ex-night-info {
    padding: 3rem;
  }
  .ex-space-evolution,
  .ex-space-biology-medicine,
  .ex-space-ecology {
    gap: 10rem;
    padding: 4rem;
  }
  .ex-space-cosmology-img,
  .ex-space-robotics-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .ex-space-cosmology-text,
  .ex-space-robotics-text {
    width: 50%;
  }
}
