/* For Desktop View */
@media screen and (min-width: 1024px) {
  .footer-link-museum {
    gap: 5rem;
  }
  .footer-bar {
    justify-content: space-between;
  }
 
  .menu-bar-item {
    font-size: 1rem;
  }
  .explore-item {
    width: 30%;
  }
  .museum-introduce {
    line-height: 2rem;
  }
  .contribution-banner {
    height: 25rem;
  }
  .contribution-body {
    justify-content: center;
  }
  .contribution-body-top {
    width: 40%;
  }
  .contribution-body-bottom {
    flex-direction: row;
    padding: 0 10rem;
    gap: 6rem;
  }
  .donate-container-right {
    width: 30%;
  }
  .donate-container-left {
    width: 40%;
    padding-left: 3rem;
  }

  .donate-container {
    display: flex;
    gap: 5rem;
  }
  .donate-purchase {
    padding-left: 3rem;
  }
  .submission-form{
    padding:1rem 5rem;
  }
}
