/* For Tablet View */
@media screen and (max-width: 1024px) {
  .header-bar {
    flex-direction: column;
    align-items: center;
  }
  .menu-bar {
    flex-direction: column;
    font-size: var(--text-size-medium);

    gap: 0.5rem;
  }
  .header-logo {
    width: 50%;
  }

  .menu-bar > li {
    padding: 1.25rem 0;
  }
  .footer-left {
    text-align: center;
  }
  .footer-bar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
  }
  .footer-right-subscribe {
    display: flex;
    flex-direction: column;
  }
  .footer-link-museum {
    display: flex;
    gap: 1rem;
  }
  .footer-title {
    font-size: 1.5rem;
  }
  .footer-subscribe {
    flex-direction: column;
    text-align: center;
  }
  .footer-left p {
    font-size: var(--text-size-medium);
  }
  .footer-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-right p {
    font-size: var(--text-size-medium);
  }

  .footer-icon {
    justify-content: space-between;
  }

  .email-subscribe {
    width: 100%;
  }
  .museum-introduce {
    flex-direction: column;
  }
  .explore {
    flex-direction: column;
  }
  .explore-image {
    width: 100%;
  }
  .museum-intro-left-img {
    width: 100%;
  }
  .home-visit-container p {
    font-size: var(--text-size-large);
  }
  .home-visit-container h1 {
    font-size: var(--text-size-large);
  }
  .explore-info {
    font-size: var(--text-size-large);
  }
  .museum-intro-right,
  .explore-detail {
    text-align: justify;
  }
  .submission-form {
    padding: 4rem;
    width: 70%;
  }

  .contribution-info {
    padding: 0 3rem;
  }
  .contribution-body-bottom {
    flex-direction: column;
  }
  .donate-container {
    display: flex;
    gap: 7rem;
  }
  .img-card {
    height: 8rem;
  }
  .mess-donation {
    font-size: var(--text-size-medium);
    padding: 5rem 1rem;
    width: 10rem;
    line-height: 2rem;
  }
  .donation-success {
    height: 25rem;
  }
  .mess-thank-donation {
    width: 15rem;
    display: flex;
    justify-content: center;
  }
  .exhibition-menu {
    gap: 2rem;
  }
  .exhibition-current-img {
    width: 100%;
  }
  .exhibition-current-img,
  .exhibition-night-img {
    width: 100%;
  }
  .exhibition-current-body,
  .exhibition-future-body {
    display: flex;
    flex-direction: column;
  }

  .exhibition-night-img {
    height: 35rem;
  }
  .exhibition-future-img {
    padding-top: 2rem;
  }
  .ex-current-body,
  .ex-future-body {
    display: flex;
    flex-direction: column;
  }
  .ex-current-img,
  .ex-future-img,
  .ex-future-bottom-img {
    width: 80%;
  }
  .ex-current-info,
  .ex-future-info,
  .ex-night-info {
    padding: 0 5rem;
  }
  .ex-text {
    font-size: var(--text-size-medium);
  }
  .ex-back {
    padding: 2rem;
  }
  .ex-space-evolution,
  .ex-space-biology-medicine,
  .ex-space-ecology {
    flex-direction: column;
  }
  .ex-space-cosmology-img,
  .ex-space-robotics-img,
  .ex-space-evolution-img,
  .ex-space-biology-img,
  .ex-space-ecology-img {
    width: calc(100% - 4rem);
  }
  .ex-space-cosmology-text,
  .ex-space-robotics-text,
  .ex-space-evolution-text,
  .ex-space-biology-text,
  .ex-space-ecology-text {
    padding: 0 2rem;
  }
  .subscribe-success {
    height: 17rem;
  }
  .mess-thank-subscribe {
    padding: 4rem;
    display: flex;
    justify-content: center;
   
  }
  .mess-subscribe {
    font-size: var(--text-size-medium);
    line-height: 1.5rem;

    width: 7rem;
  }
  .subscribe-body {
    width: 8rem;
    height: 100%;
  }
}
